h3{
    font-weight: 800;
}
img{
	padding:0;
	margin-bottom:-50px;
}

.title{
	margin-bottom:10px;
}
.input-group{
	margin:auto;
}
.loginForm input[type=text], .loginForm input[type=password]{
	margin-bottom:15px;
}
.loginForm input[type=submit]{
	background:#0080ff;
	color:#fff;
	font-weight:700;
	
}
