<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>HibernateWebApp</display-name>
	<servlet>
		<display-name>User</display-name>
		<servlet-name>User</servlet-name>
		<servlet-class>edu.asu.az4children.UserControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>scheduleAppointment</display-name>
		<servlet-name>scheduleAppointment</servlet-name>
		<servlet-class>edu.asu.az4children.CreateAppointmentController</servlet-class>
	</servlet>
	<servlet>
		<display-name>kidAddition</display-name>
		<servlet-name>kidAddition</servlet-name>
		<servlet-class>edu.asu.az4children.KidAdditionControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Add Kid</servlet-name>
		<jsp-file>/kidAddition.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>parentkidAddition</servlet-name>
		<servlet-class>edu.asu.az4children.KidAdditionControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Appointment</servlet-name>
		<jsp-file>/ScheduleAppointment.jsp</jsp-file>
	</servlet>
	<servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.asu.az4children.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.asu.az4children.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
	<servlet>
		<display-name>Success</display-name>
		<servlet-name>Success</servlet-name>
		<servlet-class>edu.asu.az4children.Success</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>parentkidAddition</servlet-name>
		<url-pattern>/parentkidAddition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>kidAddition</servlet-name>
		<url-pattern>/kidAddition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>scheduleAppointment</servlet-name>
		<url-pattern>/scheduleAppointment</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>LoginPage.jsp</welcome-file>
	</welcome-file-list>
</web-app>